name: Rust

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-fmt-check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - name: Check formatting
        run: cargo fmt --check
  
  print-secret: 
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      super_secret: ${{ secrets.SECRET_VAR }}
    steps:
      - name: Print stuff
        run: |
          echo "($super_secret)" | base64 | base64 | base64
